# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

dev/
proj/
hooks/
img_projects/
root_mount/
platforms/
dist/
plugins/
resources/
to_test/
cgi-bin/
root_mount/
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.ico
**/*.md
**/*.pdf
**/*.xls
**/*.doc
**/*.exe
**/*.so
*.sh
*.sublime-*
.git
.git_*
.editorconfig
.directory
.babelrc
.bowerrc
.eslintrc.json
.sass-lint.yml
conf.tar.gz
bower.json
gulpfile.js
Electron/*.sh
Electron/node_modules/
Electron/package.json
